*~
*.DS_Store
*.idea
*.secret
*.tmp
*.temp
tmp/
el-get/
.emacs.d/elpa/
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
#*#
.python-environments
.emacs.d/url/
.emacs.d/abbrev_defs
.emacs.d/kkcrc
.emacs.d/old/
.emacs.d/smex-items
